@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "IBM Plex Sans KR", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

pre {
  font-weight: medium;
  font-family: "Fira Code" !important;
  display: inline;
}
