@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  color-scheme: dark;
  color: theme("colors.text.primary");
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: theme("colors.background");
}

@layer components {
  .border-l-custom,
  .border-l-custom-active {
    position: relative;
  }

  .border-l-custom {
    @apply before:w-1 before:h-full before:absolute before:left-0 before:top-0 before:bg-transparent;
  }

  .border-l-custom-active {
    @apply before:w-1 before:h-full before:absolute before:left-0 before:top-0 before:bg-text-primary;
  }
}
